.candidateList {
    padding-bottom: 0px;
}

.confirm-wrapper {
    height: fit-content;
}

.confirm-image {
    width: 250px;
    height: 250px;
    border-radius: 300px;
    background-image: url('../Images/candidates/candidate1.jpg');
    background-position: center;
}

.confirm-name {
    margin-top: 35px;
}

.confirm-position {}

.confirm-options {
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}

.button-vote {
    flex: 1;
    height: 50px;
    margin: 2%;
}

#confirm-confirmed {}

#confirm-cancel {}

@keyframes {}