#index-wrapper {
    /* background-color: #0059A4; */
}

.section {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-1 {
    height: 30%;
    align-items: center;
}

#section-2 {
    height: 30%;
}

#section-3 {
    height: 40%;
}

#header-wrapper {
    width: 200px;
    height: 100px;
    /* border: 2px solid green; */
    /* background-color: aqua; */
}

#title-wrapper {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid red; */
}

#title-subText-wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#title-subText {
    /* height:40%; */
    /* width: 100%; */
    /* background-color: blue; */
    text-align: center;
}

#vote-paper {
    height: 150px;
    width: 100px;
    background-color: #F7F7F7;
    transition: 1s;
    animation: float 4s infinite;
}

#middle-logo {}

#login-wrapper {
    height: 100%;
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color:red; */
}

#login-top {
    /* height:30%; */
    /* width:100%; */
    border-bottom: 100px solid #004C91;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    height: 0;
    position: relative;
    /* width: 100px; */
}

#login-top-lid {
    height: 100px;
    width: 100%;
    /* background-color:red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-top-lid-entry {
    height: 10px;
    width: 130px;
    background-color: #003862;
    /* top:40px; */
    /* align-self: center; */
    /* justify-self: center; */
    /* left:10vw; */
    /* position: absolute; */
}

#login-bottom {
    height: 70%;
    width: 100%;
    background-color: #003963;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-login {}

#button-createAccount {}