#index-wrapper{
    background-color: #0059A4;
}

#content-wrapper{
    /* flex:1; */
    width: 640px;
    /* border: 1px solid white; */
}

.section{
    /* border: 1px solid red; */
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section-1{
    height:30%;
    align-items: center;
    
}
#section-2{
    height:30%;
}
#section-3{
    height:40%;
}

#title-wrapper{
    width:200px;
    height:100px;
    /* border: 2px solid green; */
    /* background-color: aqua; */
}

#logo-wrapper{
    height:60%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 1px solid red; */
}
#logo{
    /* background-color: blue; */
    font-size: 20px;
    font-weight: 700;
}
#logo-subText-wrapper{
    height:40%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#logo-subText{
    /* height:40%; */
    /* width: 100%; */
    /* background-color: blue; */
    text-align: center;
    
}


#vote-paper{
    height:150px;
    width: 100px;
    background-color:#F7F7F7;

}
#middle-logo{}

#login-wrapper{
    height:100%;
    width:100%;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color:red; */

}
#login-top{
    height:30%;
    width:100%;
    border-bottom: 100px solid #004C91;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    height: 0;
    position: relative;
    /* width: 100px; */
}
#login-top-lid{
    /* height:100%; */
    /* width:100%; */
    background-color:'red';
}
#login-top-lid-entry{
    height:10px;
    width:130px;
    background-color:#003862;
    top:40px;
    left:70px;
    position: absolute;
}


#login-bottom{
    height:70%;
    width:100%;
    background-color:#003963;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    margin:5px;
    height:50px;
    width:250px;
    border-radius: 25px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
    font-weight: 700;
}
#button-login{
    color:#12406D;
    background-color: white;
}
#button-createAccount{}


.text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}